---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "@components/projects/ProjectCard.astro";

interface Props {
	projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<ul class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
	{
		projects.map((project) => {
			return (
				<li>
					<ProjectCard project={project} />
				</li>
			);
		})
	}
</ul>
