---
import type { GitHubUser } from "@lib/github";
import CustomBrutalCard from "@components/CustomBrutalCard.astro";
import CustomBrutalPill from "@components/CustomBrutalPill.astro";

interface Props {
	userData: GitHubUser;
	techStack: any;
}

const { userData, techStack } = Astro.props;
---

<section
	id="contact-me"
	class="grid grid-cols-1">
	<CustomBrutalCard
		class="md:col-span-2 border-t-2 border-b-2 border-black !bg-black text-white !drop-shadow-none">
		<h1 class="text-5xl md:text-5xl lg:text-6xl font-bold mb-4">
			Let's Work Together ❤️
		</h1>
		<p class="text-lg md:text-xl mb-2">
			Have a project in mind? I'd love to hear from you.
		</p>
		<p class="text-base md:text-lg">
			Send me a message and I'll get back to you as soon as possible.
		</p>
		<p class="text-xl font-semibold mt-6">
			via email:
			<a
				href="mailto:hey@arjaymarigondon.dev"
				class="transition-colors boder-b-2 border-black text-lime-400 hover:underline">
				{userData.email ? userData.email : "hey@arjaymarigondon.dev"}
			</a>
		</p>
	</CustomBrutalCard>

	<CustomBrutalCard
		class="border-t-2 border-b-2 sm:border-l-2 border-black !bg-lime-400 !drop-shadow-none">
		<h1 class="text-5xl md:text-5xl lg:text-6xl font-bold mb-2">
			Technologies I Use
		</h1>
		<p class="text-black text-base md:text-xl mb-4">
			Here are some of the technologies I use.
		</p>
		<div class="flex flex-wrap gap-2">
			{
				techStack.map((tech: any) => (
					<CustomBrutalPill
						color={tech.color}
						class="flex justify-center items-center gap-2">
						<i class={tech.logo} />
						{tech.name}
					</CustomBrutalPill>
				))
			}
		</div>
	</CustomBrutalCard>
</section>
