---
import { getRecentProjects } from "@lib/projects";

import ProjectList from "@components/projects/ProjectList.astro";
import CustomBrutalCard from "@components/CustomBrutalCard.astro";
import CustomBrutalButton from "@components/CustomBrutalButton.astro";

interface Props {
	count?: number;
}

const { count } = Astro.props;

const projects = await getRecentProjects(count ?? 3);
---

<section id="recent-projects">
	<CustomBrutalCard
		class="border-t-2 border-b-2 border-black !bg-lime-400 !drop-shadow-none">
		<div class="flex justify-between items-center mb-5">
			<h1 class="righteous text-6xl mb-2">Projects</h1>
			<div class="hidden md:block">
				<CustomBrutalButton href="/projects/">More Projects</CustomBrutalButton>
			</div>
			<div class="block md:hidden">
				<CustomBrutalButton href="/projects/">More Projects</CustomBrutalButton>
			</div>
		</div>
		<ProjectList projects={projects} />
	</CustomBrutalCard>
</section>
