---
import RecentProjectPost from "@pages/includes/RecentProjectPost.astro";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ErrorPage from "@components/errors/404.astro";
---

<BaseLayout
	title="Page Not Found"
	description="Page not found"
	classList="h-full"
	pageTitle="Page Not Found!">
	<main>
		<ErrorPage />
		<RecentProjectPost />
	</main>
</BaseLayout>
