---
export const prerender = true;

import { github } from "@lib/github";
import RecentProjectPost from "@components/sections/RecentProjectPost.astro";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ErrorPage from "@components/errors/404.astro";

const userData = await github.getUser();
---

<BaseLayout
	title="Page Not Found"
	description="Page not found"
	classList="h-full"
	pageTitle="Page Not Found!"
	userData={userData}>
	<main>
		<ErrorPage />
		<RecentProjectPost />
	</main>
</BaseLayout>
