---
interface Props {
	class?: string;
	color?: string;
}

const { class: className, color } = Astro.props;
---

<style define:vars={{ color }}>
	span.custom-brutal-pill {
		color: black;
		user-select: none;
		background-color: white;
		border: 2px solid black;
		padding: 0.25rem 0.75rem;
		font-size: small;
		font-family: "Poppins", serif;
		filter: drop-shadow(3px 3px 0 black);
	}

	span.custom-brutal-pill:hover {
		background-color: var(--color, white);
		filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
	}
</style>

<span class={`custom-brutal-pill ${className ?? ""}`}>
	<slot />
</span>
