---
interface Props {
	class?: string;
	color?: string;
}

const { class: className, color } = Astro.props;
---

<style
	define:vars={{
		color: color,
	}}
>
	div.custom-brutal-card {
		margin: var(--margin, 0);
		padding: var(--padding, 1.5rem);
		height: var(--height, 100%);
		position: relative;
		background-color: var(--color, white);
		border-radius: 0rem;
		border: 2px solid black;
		overflow: hidden;
		transition: all 0.2s ease-in-out;
		font-family: "Poppins", serif;
		filter: drop-shadow(3px 3px 0 black);
	}
	a.custom-brutal-card:hover {
		filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
	}
</style>

<div class={`custom-brutal-card ${className || ""}`}>
	<slot />
</div>
