---
interface Props {
	class?: string;
	color?: string;
	hoverable?: boolean;
	tooltip?: string;
}

const { class: className, color, hoverable = true, tooltip } = Astro.props;
---

<style define:vars={{ color }}>
	.custom-brutal-pill {
		color: black;
		user-select: none;
		background-color: white;
		border: 2px solid black;
		padding: 0.25rem 0.75rem;
		font-size: small;
		font-family: "Poppins", serif;
		filter: drop-shadow(3px 3px 0 black);
		transition: filter 0.2s ease;
	}

	.custom-brutal-pill-hoverable:hover {
		filter: drop-shadow(5px 5px 0 var(--color, black));
	}
</style>

<span
	title={tooltip}
	class={`custom-brutal-pill ${hoverable ? "custom-brutal-pill-hoverable" : ""} ${className ?? ""}`}>
	<slot />
</span>
