---
interface Props extends HTMLAttributes<"a"> {
	class?: string | undefined;
	color?: string | undefined;
}

import type { HTMLAttributes } from "astro/types";

const { class: className, color, ...rest } = Astro.props;
---

<style define:vars={{ color: color }}>
	a.custom-brutal-btn {
		color: black;
		background-color: white;
		display: inline-block;
		padding: 0.5rem 1rem;
		border: 2px solid black;
		font-family: "Poppins", serif;
		filter: drop-shadow(3px 3px 0 black);
	}
	a.custom-brutal-btn:hover {
		filter: drop-shadow(5px 5px 0 black);
	}
</style>

<a
	{...rest}
	class={`custom-brutal-btn ${className || ""}`}>
	<slot />
</a>
