---
export const prerender = true;

import { github } from "@lib/github";
import { getCollection } from "astro:content";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ProjectList from "@components/projects/ProjectList.astro";

const projects = await getCollection("projects").then((collection) =>
	collection.reverse()
);

const userData = await github.getUser();
---

<BaseLayout
	title="Projects"
	description="Check out my projects"
	pageTitle="Project"
	userData={userData}>
	<main class="bg-lime-400 p-6">
		<h1 class="righteous text-6xl mb-2">Projects</h1>
		<p class="righteous text-2xl mb-6">Check out my projects</p>
		<ProjectList projects={projects} />
	</main>
</BaseLayout>
